.listItem-container {
  display: flex;
  width: fit-content;
  border-bottom: 1px solid #ffff;
  justify-content: center;
}

.listItem-info {
  display: flex;
  gap: 20px;
}

.info {
  text-align: left;
  width: 200px;
}

.info-label {
  color: #c43531;
}

.detail-btn {
  margin: 25px 0;
  padding: 5px;
  height: 80px;
  width: 100px;
  background-color: #c43531;
}

.info-text {
  max-width: 250px;
}
